html {
    background-color: cornflowerblue;
}

img {
    width: 300px;
    height: 200px;
    border: 5px solid grey;
    border-radius: 20px;
}

a {
    color: yellow;
}

a:hover {
    color: yellowgreen;
}

.dino {
    color: darkgreen;
}

.bobre {
    color: brown;
}